name: Playwright Pytest CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  schedule:
    - cron: '0 2 * * *'   # Runs daily at 2 AM UTC (night)

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12.1'

      - name: Install dependencies
        run: |
          cd playwrightTestingPractice
          pip install -r requirements.txt
          playwright install

      - name: Run Pytest
        run: |
          cd playwrightTestingPractice
          cd tests
          pytest test_07_special_products.py
